<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YouTubeFeast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YouTubeFeast.Properties.Settings>
            <setting name="Proxy" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExternalYoutubeDL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YouTubeDLParams" serializeAs="String">
                <value>299/137/mp4/bestvideo[height&lt;=?1080]+bestaudio/best</value>
            </setting>
            <setting name="YouTubeDLLocation" serializeAs="String">
                <value>C:\Users\Administrator\Desktop\YouTubeFeast\Source\YouTubeFeast\bin\Debug\youtube-dl.exe</value>
            </setting>
        </YouTubeFeast.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
