# YouTubeFeast Configuration File
# this configuration is case sensitive!!
#
# Here you define the download jobs. It's quick-and-dirty configuration file
# so don't even think about to complain.
#
[DownloadJob]
http://www.youtube.com/user/AmrasLP/videos?query=skyrim
.
720p
[DownloadJob]
http://www.youtube.com/user/TheWhiskyStore/videos
.
720p