# YouTubeFeast Configuration File
#
# Here you define the download jobs. It's quick-and-dirty configuration file
# so don't even think about to complain.
#
# Format is:
#
# <url>	<resolution>	<downloadpath>	<intervallinhours>
# every part is separated by a tab
#			
http://www.youtube.com/user/AmrasLP/videos?query=skyrim	720p	/Volumes/Serien2/Lets Play/Lets Play Skyrim	4
http://www.youtube.com/user/TheWhiskyStore/videos	720p	/Volumes/Serien2/The Whisky Store	3