# YouTubeFeast Configuration File
#
# Here you define the download jobs. It's quick-and-dirty configuration file
# so don't even think about to complain.
#
# Format is:
#
# <url>	<resolution>	<downloadpath>
# every part is separated by a tab
#			
http://www.youtube.com/user/AmrasLP/videos?query=skyrim	720p	.
http://www.youtube.com/user/TheWhiskyStore/videos	720p	.